/* Root colori */
:root{
    --colore-primario: #009688; 
    --colore-secondario:#DBDBD3; 
    --colore-messaggi-inviati: #D5F9BA;
    --colore-topbar: #EAEAEA;
    --colore-topbar-icone: #B1B1B1;
    --colore-bottombar-icone: #6B7376;   
    --colore-sezione-notifiche: #8EDAFC;   
}
/* Fine root colori */

/* Utility */
.d-flex{
   display: flex;
}

.debug{
    border: 1px solid black;
     
}

/* Versione desktop first */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: var(--colore-secondario);
}

.container{
    width: 1300px;
    margin: 50px auto;
}

.box-main{
    width: 100%;
    display: flex;

}

/* colonna di sinistra */
.col-sm{
    width: 29%;
    background-color: white;
    height: 400px;
}

.topbar-sx{
    height: 75px;
    background-color: var(--colore-topbar);

    
}

.topbar-dx{
    height: 75px;
    background-color: var(--colore-topbar);
}


/* colonna di destra */
.col-md{
    width: 68%;
    height: 400px;
}

/* box messaggi */

.box-messages{
    height: calc(85% - 75px);
    background-image: url(img/mine.jpg);
}

/* barra scrivi un messaggio */
.bottombar{
    height: 15%;
    background-color: var(--colore-topbar);

}

/* Soluzione responsive */

/* versione tablet */
@media screen and (max-width: 992px){

}



/* versione mobile */
@media screen and (max-width: 540px){
    .container{
        width: 100%;
    }

}
