/* Root colori */
:root{
    --colore-primario: #009688; 
    --colore-secondario:#DBDBD3; 
    --colore-messaggi-inviati: #D5F9BA;
    --colore-topbar: #EAEAEA;
    --colore-topbar-icone: #B1B1B1;
    --colore-bottombar-icone: #6B7376;   
    --colore-sezione-notifiche: #8EDAFC;   
}
/* Fine root colori */

/* Utility */
.d-flex{
   display: flex;
}

.debug{
    border: 1px solid black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/mine.jpg);
}

.container{
    width: 100%;
}

.box-main{
    width: 100%;
}